.card img {
    height: 200px;
}

.card {
    margin-bottom: 20px;
    min-height: 175px;
    max-height: 250px;
}

#product-img {
    object-fit: contain;
    height:100%;
    width:100%;
    padding: 15%;
    padding-bottom: 2.5% !important;
}

#card-title {
    font-size: 0.85em;
}