<h1>All Orders - Admin</h1>

<list-order-view [order$]="order$"></list-order-view>

<data-table
  [items]="items"
  [itemCount]="itemsCount"
  (reload)="reloadItems($event)"
>

  <data-table-column
    [property]="'title'"
    [header]="'Title'"
    [sortable] = "true"
    [resizable] = "true"
  >
  <!-- <ng-template #dataTableCell let-item="item">
    {{item.price | currency:'INR':true}}
  </ng-template> -->
  </data-table-column>
  

  <data-table-column
  [property]="'userName1'"
  [header]="'User 1'"
  [sortable] = "true"
  [resizable] = "true"
  >
  </data-table-column>

  <data-table-column
  [property]="'addressUser1'"
  [header]="'Address 1'"
  [sortable] = "true"
  [resizable] = "true"
  >
  </data-table-column>

  <data-table-column
  [property]="'shoeSize1'"
  [header]="'Shoe size 1'"
  [sortable] = "true"
  [resizable] = "true"
  >
  </data-table-column>

  <data-table-column
  [property]="'userName2'"
  [header]="'User 2'"
  [sortable] = "true"
  [resizable] = "true"
  >
  </data-table-column>
  
  <data-table-column
  [property]="'addressUser2'"
  [header]="'Address 2'"
  [sortable] = "true"
  [resizable] = "true"
  >
 </data-table-column>

  <data-table-column
  [property]="'shoeSize2'"
  [header]="'Shoe size 2'"
  [sortable] = "true"
  [resizable] = "true"
  >
  </data-table-column>

</data-table>
