#product-img {
    object-fit: contain;
    height:100%;
    width:100%;
    padding: 7.5%;
    padding-top:2.5%;
    padding-bottom: 2.5% !important;
}

#card-title {
    font-size: 0.65em;
}

.card img {
    height: 200px;
}

.card {
    margin-bottom: 20px;
    min-height: 175px;
    max-height: 300px;
    overflow-y: scroll;
}

#swap-arrow:before {
    padding: 5px 5px 0 5px;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
}

.flexitems {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#confirm {
    color: #86CD82;
    font-size: 1em;
}:before {
    padding: 0 5px 0 5px;
 }

#cancel {
    color: #A63D40;
    font-size: 1em;
}