<div class="flex-container">
  <div class="card" [style.width.percent]="width">
    <div>
      <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" [alt]="product.title" id="product-img">
      <div class="card-body">
        <h6 class="card-title" id="card-title" style="text-align: center;" >{{product.title}}</h6>
        <div class="flex-container">
          <div class="flexitems">
            <p style="font-size: 0.85em;text-decoration: underline;">Pending Swaps</p>
            <ul *ngFor="let pending of pending_orders;" style="list-style: none;padding-left: 0; margin-top: 0;">
              <li *ngIf="(pending.productTitle === product.title)" style="font-size: 1em;"> {{pending.buyerSize}} <i class="ion-md-swap" id="swap-arrow"></i> {{pending.requesterSize}}<i class="ion-md-checkmark" id="confirm" (click)="confirm()"></i><i class="ion-md-close" id="cancel" (click)="cancel()"></i></li>
            </ul>
          </div>
          <div class="flexitems">
            <p style="font-size: 0.85em;text-decoration: underline;">Confirmed Swaps</p>
            <ul *ngFor="let pending of pending_orders;" style="list-style: none;padding-left: 0; margin-top: 0;">
              <a href="" style="text-decoration: none; color: #000; margin: 0;"><li *ngIf="(pending.productTitle === product.title)" style="font-size: 1em;"> {{pending.buyerSize}} <i class="ion-md-swap" id="swap-arrow"></i> {{pending.requesterSize}}</li></a>
            </ul>
          </div>
          <div class="flexitems">
            <p style="font-size: 0.85em;text-decoration: underline;">Completed Swaps</p>
            <ul *ngFor="let pending of pending_orders;" style="list-style: none;padding-left: 0; margin-top: 0;">
              <a href="" style="text-decoration: none; color: #000; margin: 0;"><li *ngIf="(pending.productTitle === product.title)" style="font-size: 1em;"> {{pending.buyerSize}} <i class="ion-md-swap" id="swap-arrow"></i> {{pending.requesterSize}}</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

