<div *ngIf="isDataAvailable">
    <div>
        <product-card [product]="product" [width]="20" [shopping-cart]="cart"></product-card>
        <select id='desired-shoe' name="Desired Shoe Size">
                <option value="">Select Desired Shoe Size</option>
                <ng-container *ngFor="let size of shoeSizes;">
                    <option value="{{size}}">{{size}}</option>
                </ng-container>
        </select>
        <select id='trade-shoe' name="Trade Shoe Size">
                <option value="">Select Trade Shoe Size</option>
                <ng-container *ngFor="let size of shoeSizes;">
                    <option id="trade-shoe" value="{{size}}">{{size}}</option>
                </ng-container>
        </select>
    </div>
</div>