/* On the flex container */
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*#product-img {*/
    /*object-fit: contain;*/
    /*padding: 2.5%;*/
    /*padding-top:0%;*/
    /*padding-bottom: 0% !important;*/
/*}*/

/*#card-title {*/
    /*font-size: 0.65em;*/
/*}*/

/*.card img {*/
    /*height: 200px;*/
/*}*/

/*.card {*/
    /*margin-bottom: 20px;*/
    /*min-height: 175px;*/
    /*!*max-height: 300px;*!*/
    /*!*overflow-y: scroll;*!*/
/*}*/


      